body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding: 2rem;
}


.containter{
  position: relative;
  width: 100%;
}

.confirmation {
  text-align: center;
  background-color: #e0f2fe;
  border: 1px solid #38bdf8;
  color: #0369a1;
  margin: 1rem auto;
  padding: 1rem;
  width: fit-content;
  border-radius: 6px;
  font-weight: 500;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
